{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="product_wrapper">
    <div>
        <img src="
        {% if products.image %}
        {{ products.image.url }}
        {% else %}
        {% static 'img/no_image.png' %}
        {% endif %}"
             class="image_detail" alt="1">
    </div>
    <div class="detail">
        <h1>{{ products.title }}</h1>
        <br>
        <p>{{ products.description }}</p>
        <h2>Size:</h2>
        <select name="size">
            {% if category.slug == 'shoes' %}
            <option value="39-40">39-40</option>
            <option value="41-42">41-42</option>
            <option value="43-44">43-44</option>
            {% elif category.slug == 'socks' %}
            <option value="39-40">39-40</option>
            <option value="41-42">41-42</option>
            <option value="43-44">43-44</option>
            {% elif category.slug == 'clothes' %}
            <option value="XS">XS-Chest 34</option>
            <option value="S">S-Chest 36-38</option>
            <option value="M">M-Chest 40</option>
            <option value="L">L-Chest 42</option>
            <option value="XL">XL-Chest 44</option>
            {% elif category.slug == 'pants' %}
            <option value="W28">W28</option>
            <option value="W30">W30</option>
            <option value="W32">W32</option>
            <option value="W34">W34</option>
            <option value="W36">W36</option>
            {% endif %}
        </select>

        <br><br>
        <h2>{{ products.price }} ₽</h2>
        <form action="{% url 'add_item' products.id %}" method="POST">
            {% csrf_token %}
            {{ cart_product_form }}
            <button type="submit" class="add_to_cart">Add<br><i class="fa-solid fa-cart-plus"></i></button>
        </form>
    </div>
</div>

{% endblock %}
